[project]
name = "python-s3"
version = "1.0.0-dev"
requires-python = ">=3.9"
readme = "README.md"
dependencies = [
    "boto3",
    "fastapi",
    "uvicorn"
]

[project.optional-dependencies]
dev = [
    "pytest"
]

[project.urls]
Repository = "https://github.com/cjbille/python-demos"
