[project]
name = "python-demos"
version = "1.0.0-dev"
requires-python = ">=3.9"
readme = "README.md"
dependencies = [
    "boto3"
]

[project.optional-dependencies]
dev = [
    "pytest"
]

[project.urls]
Repository = "https://github.com/cjbille/python-demos"